@page
@model WebApplication19.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <form class="form-signin">
        <h2 class="form-signin-heading">Login do Usuário</h2>
        <label for="inputEmail" class="sr-only">E-mail:</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="E-mail" required autofocus>
        <label for="inputPassword" class="sr-only">Senha:</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Lembrar
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
    </form>

</div> <!-- /container -->
<form method="post">
    <button type="submit">Entrar</button>
</form>
@section Css {
    <link href="~/css/login.css" rel="stylesheet" />
}
