<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>_Layout</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/css/bootstrap-reboot.css" rel="stylesheet" />
    @RenderSection("Css", required: false)
</head>
<body>
    @RenderBody()
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
